<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">
           
   	<alias name="compositeProductImageCopyStrategy" alias="productImageCopyStrategy"/>
	<bean class="com.renova.imagetools.strategy.CompositeProductImageCopyStrategy" id="compositeProductImageCopyStrategy">
		<property name="imageCopyStrategies">
			<list>
				<ref bean="defaultProductImageCopyStrategy"/>
				<ref bean="ftpProductImageCopyStrategy"/>
			</list>
		</property>
	</bean> 
	<bean class="com.renova.imagetools.strategy.DefaultProductImageCopyStrategy" id="defaultProductImageCopyStrategy"/>
	<bean class="com.renova.imagetools.strategy.FtpProductImageCopyStrategy" id="ftpProductImageCopyStrategy"/>
	
	<alias name="defaultModifiedFileLookUpStrategy" alias="modifiedFileLookUpStrategy"/>
	<bean class="com.renova.imagetools.strategy.DefaultModifiedFileLookUpStrategy" id="defaultModifiedFileLookUpStrategy"/>
	<bean class="com.renova.imagetools.strategy.ModifiedFileLookUpStrategyWithModifiedDate" id="modifiedFileLookUpStrategyWithModifiedDate"/>
	
	<alias name="compositeImageRenameStrategy" alias="imageRenameStrategy"/>
	<bean class="com.renova.imagetools.strategy.CompositeImageRenameStrategy" id="compositeImageRenameStrategy">
		<property name="imageRenameStrategies">
			<list>
				<ref bean="defaultImageRenameStrategy"/>
				<ref bean="ftpImageRenameStrategy"/>
			</list>
		</property>
	</bean>
	
	<bean class="com.renova.imagetools.strategy.DefaultImageRenameStrategy" id="defaultImageRenameStrategy"/>
	<bean class="com.renova.imagetools.strategy.FtpImageRenameStrategy" id="ftpImageRenameStrategy"/>
	
	<bean class="com.renova.imagetools.job.ImageResizeJob" id="imageResizeJob">
		<property name="productImageCopyStrategy" ref="${imageResizeJob.productImageCopyStrategy}"/>
		<property name="imageTypeMap">
			<map key-type="java.lang.String" value-type="java.lang.String">
				<entry key="900Wx900H" value="zoom" />
				<entry key="580Wx580H" value="mobileretina" />
				<entry key="300Wx300H" value="detail" />
				<entry key="260Wx260H" value="mobilestandart" />
				<entry key="150Wx150H" value="list" />
				<entry key="50Wx50H" value="thumbnail" />
			</map>
		</property>
	</bean>
	
	<bean class="com.renova.imagetools.controller.ImageNameController" id="imageNameController">
		<property name="imageRenameStrategy" ref="${imageNameController.imageRenameStrategy}"/>
	</bean>
	
	<bean class="com.google.common.eventbus.EventBus" id="eventBus"/>
	
</beans>
